#headerTitle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
    margin-bottom: 10px;
}

#currentWordLabel {
    text-align: center;
}

#currentWord {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 3px;
}